# Part 2: Variables, Data Types, Operators, and Conditional Logic

### Sequence types: `list`, `tuple`, and `range`

#### Lists 

Lists may be constructed in several ways:

 - using square brackets:
    - empty list: `[]`
    - separating items with commas: `[a]`, `[a, b, c]`
 - list comprehension: 
    - `[x for x in iterable]`
 - type constructor: 
    - empty list: `list()` 
    - from iterable: `list(iterable)`

In [76]:
# create some lists
l1 =[]
l2 = list()
l3 =[1,2,3]
l4=list('abc')
l5=['a','b']
my_lists=[l1,l2,l3,l4,l5]

for l in my_lists:
    print (type(l),l)

<class 'list'> []
<class 'list'> []
<class 'list'> [1, 2, 3]
<class 'list'> ['a', 'b', 'c']
<class 'list'> ['a', 'b']

##### List methods/operations

Lists impement all of the [common sequence methods](https://docs.python.org/3/library/stdtypes.html#typesseq-common) and 
the [mutable sequence operations/methods](https://docs.python.org/3/library/stdtypes.html#typesseq-mutable).

In addition, lists also support the additional method:
   - `sort(key=None, reverse=False)`
   - more information on sorting can be found in the [docs](https://docs.python.org/3/howto/sorting.html#sortinghowto)


##### List properties

The important properties of lists are as follows:
 - elements can be accessed by index (suscriptable)
  - iterable
 - mutable
 - ordered
 - can contain any arbitrary objects
 - can be nested to arbitrary depth
 - dynamic (change size)


<center><img src="Python_indexing.png" alt="Drawing" style="width: 600px;"/><br><br>

In [3]:
# create list of letters

l = list ('abcdefg')
l

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [11]:
# get a single element
l[0]
l[4]
l[0:]

[999, 'b', 'c', 'd', 'e', 'f', 'g']

In [77]:
# exercise

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [ ]:
# slice with negative indices

In [60]:
# change an element
#l[0] =999
#new
l = list ('abcdefg')
print(id(l))
l[0] = 'a'
l
#print(id(l))

1913595727232

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [20]:
# iterate over a list
for el in l :
    print (2*el)

aa
bb
cc
dd
ee
ff
gg

In [ ]:
# ordered

In [30]:
# arbitrary objects
l =[1,2.0,'a',[1,2,3],True,print]
l[3][0]

1

In [25]:
# nesting
l =[1,[2,[3,[4,5]]]]
l

[1, [2, [3, [4, 5]]]]

In [63]:
# add elements to a list: append, extend
l= list('abc')
l.append('d')
l.append(['e','f'])
l.extend(['g','h'])
l.insert(1,'xxxx')


l=l +[ 1,2,3]
l

for el in l:
    print (el)
#l[8]
#l.reverse()

a
xxxx
b
c
d
['e', 'f']
g
h
1
2
3

#### Tuples 

Tuples may be constructed in several ways:
 - empty tuple: 
    - `()`
    - `tuple()`
 - a singleton tuple: 
    - `a,` 
    - `(a,)`
 - a multi-element tuple:
    - `a, b, c` 
    - `(a, b, c)`
    - `tuple(iterable)`

In [75]:
# create some tuples
t1 =()
t2 = tuple()
t3=3,
t4 = (4, )
t5 =(1,2,3)
t6 = tuple ([4,5,6])
t7 =7,8,9

tuple_list =[t1,t2,t3,t4,t5,t6,t7]

for t in tuple_list:
    print (type(t),t)

<class 'tuple'> ()
<class 'tuple'> ()
<class 'tuple'> (3,)
<class 'tuple'> (4,)
<class 'tuple'> (1, 2, 3)
<class 'tuple'> (4, 5, 6)
<class 'tuple'> (7, 8, 9)

##### Tuple methods

Tuples impement all of the [common sequence methods](https://docs.python.org/3/library/stdtypes.html#typesseq-common).

##### Tuple properties

The important properties of tuples are as follows:
 - elements can be accessed by index (suscriptable)
 - iterable
 - immutable
 - ordered
 - can contain any arbitrary objects
 - can be nested to arbitrary depth

In [56]:
# single element selection
t6[0]

4

In [57]:
# slice 
t6[0:2]

(4, 5)

In [58]:
# change an element
t6[0]=99

TypeError: 'tuple' object does not support item assignment

In [61]:
# iterate over a tuple
for item in t5:
    print(item)

1
2
3

In [64]:
# ordered 
(1,2,3)==(2,3,1)

False

In [ ]:
# arbitrary objects
#('a',print)

In [65]:
# nesting
(1,(2,(3,4)))

(1, (2, (3, 4)))

#### `range` function

The range object is:
 - suscriptable
 - iterable
 - immutable
 - ordered

However, you will generally see it used for loops, so the iterable property is the only one typcially seen.

In [99]:
#for i in range (10):
   # print (i)
#for i in range (2,20,2):
   # print (i+1)
l2 =[]
l=list('abcdefghijxxxxxxxxx')
for letter in range(len(l)):
    #print (letter)
    #print (l[letter])
    l2.insert(letter,l[letter])
    #l2.append(l[letter])
    

print(l2)
   # l.insert(1,'xxxx')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x']

### Set types: `set`

 - using braces:
    - separating items with commas: `{'a', 'b', 'c'}`
 - set comprehension: 
    - `{ch for ch in 'abc'}`
 - type constructor: 
    - empty list: `set()` 
    - from iterable: `set(iterable)`

In [69]:
# create some sets 
#s1 = {} makes an empty dictionary not a set
s1 ={}
s2 = set()
s3 = {'a','b','c'}
s4 ={ch for ch in 'abc'}
s5 =set([1,2,3,3,2,1])

list_of_set=[s1,s2,s3,s4,s5]

for type_set in list_of_set:
    print(type(type_set),type_set)


for cd in 'asdasdasd':
    print(cd)

<class 'dict'> {}
<class 'set'> set()
<class 'set'> {'a', 'c', 'b'}
<class 'set'> {'a', 'c', 'b'}
<class 'set'> {1, 2, 3}
a
s
d
a
s
d
a
s
d

-3550055125485641917

In [ ]:
# beware {}

#### Set methods/operations

Sets implement various [methods/operations](https://docs.python.org/3/library/stdtypes.html#set) as noted in the docs.

##### Set properties

The important properties of sets are as follows:
 - elements are unique
 - not subscriptable
 - iterable
 - mutable
 - unordered
 - elements must be hashable

In [ ]:
# unique elements
# even if you put {123123123} set will be 123 only

In [23]:
# not subscriptable
s = set ('abcdefg')
s.add('h')
s.update('ijk')
s.update ([1,2,3])
s.add('1')
s.remove(1)
s

{'1', 2, 3, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'}

In [17]:
# iterable
for item in s:
    print (item)

f
d
e
g
a
c
b

In [ ]:
# mutable: add, remove, update
#append does not work
#add only adds 1
#update can add multiple items

In [ ]:
# elements must be hashable

In [25]:
# union
Set1 = set('abcde')
Set2 = set('defgh')

Set1.union(Set2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [26]:
# intersection
Set1.intersection(Set2)

{'d', 'e'}

In [27]:
Set1.symmetric_difference(Set2)

{'a', 'b', 'c', 'f', 'g', 'h'}

### Mapping types: `dict`

#### Dictionary 

Lists may be constructed in several ways:

 - using `key:value` pairs with braces:
    - empty list: `{}`
    - separating items with commas: `{'a':1, 'b':2, 'c':3}`
 - dictionary comprehension: 
    - `{x:x**2 for x in range(10)}`
 - type constructor: 
    - empty list: `dict()` 
    - from iterable: `dict([('a', 1), ('b', 2), ('c', 3)])`, `dict(a=1, b=2, c=3)`

In [32]:
# create some dictionaries

d1 ={}
d2 = dict()
d3 = {'a':1, 'b':2,'c':3}
d4 = {x:x**2 for x in range (10)}
d4
d5 = dict ([('a',1),('b',2)])
d5
d6 = dict (a=1,b=2,c=3)
d6


dict_list =[d1,d2,d3,d4,d5,d6]

for dl in dict_list:
    print(type(dl),dl)

<class 'dict'> {}
<class 'dict'> {}
<class 'dict'> {'a': 1, 'b': 2, 'c': 3}
<class 'dict'> {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
<class 'dict'> {'a': 1, 'b': 2}
<class 'dict'> {'a': 1, 'b': 2, 'c': 3}

#### Dictionary operations

Dictionaries various [methods/operations](https://docs.python.org/3/library/stdtypes.html#dict) as noted in the docs.

##### Dictionary  properties

The important properties of dictionaries are as follows:
 - access values by keys
 - iterable
 - mutable
 - unordered
 - keys must be hashable
 - can be nested
 - dynamic

In [34]:
# access via key

d5 = dict ([('a',1),('b',2),('c',3)])
d5

{'a': 1, 'b': 2, 'c': 3}

In [36]:
d5['a']

1

In [38]:
# mutable: d[k]=v, del, update
d5['a'] = 66
d5
del d5['a']
d5

{'b': 2, 'c': 3}

In [41]:
d5.update ({'e':5,'f':6})
d5

{'b': 2, 'c': 3, 'e': 5, 'f': 6}

In [53]:
# nesting
d ={'a':{'b':{'c':4}}}
d['a']['b']['c']

4

In [59]:
d5.items()

dict_items([('b', 2), ('c', 3), ('e', 5), ('f', 6)])

In [57]:
d5.values()

dict_values([2, 3, 5, 6])

In [55]:
d5.keys()

dict_keys(['b', 'c', 'e', 'f'])

In [66]:
# for k in d5.keys():
#     print(k)

# for v in d5.values():
#     print(v)

# for i in d5.items():
#     print(i)

for k,v in d5.items():
    print(k,v)

b 2
c 3
e 5
f 6

In [68]:
{x:y for x,y in d5.items()}

{'b': 2, 'c': 3, 'e': 5, 'f': 6}

In [ ]:
# iterable